.wrapper {        
    grid-template-columns: 60% 40%;
    grid-template-areas:
        'header header'
        'landing landing'
        'youtube bio'
        'contact contact'
        'footer  footer';
}

.header {
    grid-area: 1 / 1 / span 1 / span 2;
    right: 0;
}

.landing {
    grid-area: 2 / 1 / span 1 / span 2;
    margin: 10px;
    align-items:flex-end;
    padding:40px;
    display:flex;
    flex-wrap:wrap;
}

.landing-content {
    width:350px;
    justify-content:last baseline; 
    padding:40px;
}

.landing-photo {
    width:400px;
    padding:40px;
}

.youtube {
    grid-area: 3 / 1 / span 1 / span 1;
}

.bio {
    grid-area: 3 / 2 / span 2 / span 2;
}

.contact {
    grid-area: 4 / 1 / span 2 / span 2;
    padding: 40px;
}

.footer {
    grid-area: 5 / 1 / span 2 / span 2;
    padding: 40px;
}